<div id="signup">
<h1>Create User </h1>

<form method="POST" action="/signup">
  <div class="form-group">
    <label for="emailForm">Email address</label>
    <input type="email" class="form-control" id="emailForm" aria-describedby="emailHelp" placeholder="Enter email" name="email" />
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="passwordForm">Password</label>
    <input type="password" class="form-control" id="passwordForm" placeholder="Password" name="password" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{{#if errorMessage}}
  <p class="error">{{errorMessage}}</p>
{{/if}}