<h1>Question</h1>

<form action="/createQuestion" method="post">

  

<div class="form-group">
    <label for="correct">Description</label>
    <input type="text" class="form-control" id="description" placeholder="Description" name="description" />
  </div>
<div class="form-group">
    <label for="correct">Correct answer</label>
    <input type="text" class="form-control" id="correct" placeholder="Correct Answer" name="correct" />
  </div>
  <div class="form-group">
    <label for="false1">False answer</label>
    <input type="text" class="form-control" id="false1" placeholder="False Answer" name="false1" />
  </div>
  <div class="form-group">
    <label for="false2">False answer</label>
    <input type="text" class="form-control" id="false2" placeholder="False Answer" name="false2" />
  </div>
  <div class="form-group">
    <label for="false3">False answer</label>
    <input type="text" class="form-control" id="false3" placeholder="False Answer" name="false3" />
  </div>

<button type="submit" class="btn btn-primary">Submit</button>
</form>