<div id="overview">


<h1> My profile</h1>
{{!-- <a href="/createQuestion">Create Problems</a>
<a href="/view-questions">View Questions</a> --}}
<h2>Questions answered correctly</h2>
{{#each questions}}
<div id="question">


<div class="question-description">
    <h3>{{description}}</h3>
  </div>
  <div>
    <button type="button" id="correct">{{correct}}</button>
  </div>
</div>
</div>
{{/each}}